**/__pycache__/
.vscode

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

examples/results/*
results/*
!results/**/*.csv
data/*
*/data/*
!data/**/*.py
scripts/*.png
wandb
.idea
.ipynb_checkpoints
checkpoints
lightning_logs
.pylintrc

*.gz
*.pt