[submodule "tasks/simclr/falr"]
	path = tasks/simclr/falr
	url = https://github.com/lebrice/falr.git
[submodule "utils/nngeometry"]
	path = utils/nngeometry
	url = https://github.com/tfjgeorge/nngeometry.git
