[submodule "tasks/simclr/falr"]
	path = tasks/simclr/falr
	url = https://github.com/lebrice/falr.git
[submodule "sequoia/methods/cn_dpm"]
	path = sequoia/methods/cn_dpm
	url = https://github.com/ryanlindeborg/CN-DPM.git
[submodule "examples/clcomp21/Real_DEEL"]
	path = examples/clcomp21/Real_DEEL
	url = https://github.com/mostafaelaraby/Real-DEEL-Dark-Experience.git
