pytorch-lightning>=1.1.2
# TODO: Weird installation bug: downloads all previous versions of gym?
# For now though, seems to work fine when installed manually with
# `pip install gym[atari]` after.
gym[atari]
# Fork of gym with more flexible utility functions.
git+https://www.github.com/lebrice/gym@easier_custom_spaces
# nngeometry module used in the EWC method
git+https://github.com/oleksost/nngeometry.git
simple_parsing>=0.0.12.post2
matplotlib
torch>=1.7
torchvision
scikit-learn
tqdm
continuum
#Only required because of a bug in continuum:
imageio
# Only required for the current demo:
wandb
plotly
pandas
# Only for python < 3.8
singledispatchmethod;python_version<'3.8'
pytorch-lightning-bolts
# Requirements for running tests:
pytest-timeout
pytest-xdist
pytest-xvfb # Prevents the gym popups from displaying during tests.
# Required for the RL methods
# TODO: Move this to an 'extras' in setup.py?
stable-baselines3
pyvirtualdisplay
h5py