pytorch-lightning
# Fork of gym with more flexible utility functions.
https://github.com/lebrice/gym.git@easier_custom_spaces
gym[atari]
simple_parsing==0.0.12.post2
matplotlib
torchvision
scikit-learn
tqdm
continuum
#Only required because of a bug in continuum:
imageio
# Only required for the current demo:
wandb
plotly
pandas
# Only for python < 3.8
singledispatchmethod
pytorch-lightning-bolts
# Requirements for running tests:
pytest-timeout
pytest-xdist
pytest-xvfb # Prevents the gym popups from displaying during tests.
# Required for the RL methods
stable-baselines3