gym
gym[atari]
pytorch-lightning
simple_parsing
matplotlib
torchvision
scikit-learn
tqdm
continuum
#Only required because of a bug in continuum:
imageio
# Only required for the current demo:
wandb
plotly
pandas
# Only for python < 3.8
singledispatchmethod
#
pytorch-lightning-bolts
# Requirements for running tests:
pytest-timeout
pytest-xdist
# Required for the RL methods
stable-baselines3